.headerIcon
{
    position: relative;
    height: 69px;
    width: auto;
    top: 40px;
}
#icon1
{
    margin-right: 15px;
    transform: rotate(135deg);
}
#icon2
{
    margin-left: 15px;
    transform: rotate(45deg);
}
.header
{
    display: flex;
    position:relative;
    text-align: center;
    width: fit-content;
    height: 125px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: -5px;
    font-size:30px;
}
.instructions
{
    position:relative;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size:25px;
    padding: 5px;
    margin-bottom:10px;
}
.title
{
    position: relative;

}
h2
{
    text-align: center;
font-size: 32px;
}
.container
{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: 15%;
}
.item1
{
    height:fit-content;
    margin-left:15%;
}

.item2
{
    margin-right:15%;
}
.items:hover
{
    animation-name: grow ;
    animation-duration: 1s;
}
@keyframes grow {
    50%{transform:scale(1.2,1.2)};
}
.navbar ul
{
    list-style-type: none;
    background: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover
{
    background: hsl(0, 0%, 9%);
}

.navbar li
{
    float: left;
}
