.headerIcon
{
    position: relative;
    height: 69px;
    width: auto;
    top: 40px;
}
#icon1
{
    margin-right: 15px;
    transform: rotate(135deg);
}
#icon2
{
    margin-left: 15px;
    transform: rotate(45deg);
}
.header
{
    display: flex;
    position:relative;
    text-align: center;
    width: fit-content;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: -10px;
    font-size:30px;
}

.instructions
{
    position:relative;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size:25px;
    padding: 5px;
    margin-bottom:12px;
}

.navbar ul
{
    list-style-type: none;
    background: hsl(0, 0%, 25%);
    padding: 0px;
    margin-bottom: 10px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover
{
    background: hsl(0, 0%, 9%);
}

.navbar li
{
    float: left;
}

.container
{
    position: relative;
    width: 100%;
    height:fit-content;

}

.subContainer
{
    position: inherit;
    display: flex;
    justify-content: center;
    height:fit-content;
    width:100%;
    column-gap: 60px;
    flex-wrap: wrap;
    
}

.muscle
{
    border:2px solid black;
    padding:25px;
    text-align: center;
    font-size:60px;
    height: fit-content;
}

.video
{
    padding:15px;
}