h1
{
    background-color: turquoise;
    text-align:center;
}
.container {
    display: flex;
    flex-wrap: nowrap; /* Ensures items don't wrap to the next line */
  }
#box1
{
    position:relative;
    top:15%;
    left:28%;
}
#box2
{
    position:relative;
    bottom:10%;
    left:28%;
}
.item
{
    margin-right: 20px; 
    text-align: center;
}
.item:hover{
    animation-name: grow;
    animation-duration: 1s;
}
@keyframes grow
{
    50%{transform:scale(1.1,1.1)}    
}
.item h2 {
    margin-top: 5px; 
  }
