body
{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.headerIcon
{
    position: relative;
    height: 69px;
    width: auto;
    top: 40px;
}
#icon1
{
    margin-right: 15px;
    transform: rotate(135deg);
}
#icon2
{
    margin-left: 15px;
    transform: rotate(45deg);
}
.header
{
    display: flex;
    position:relative;
    text-align: center;
    width: fit-content;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: -10px;
    font-size:30px;
}

.instructions
{
    position:relative;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size:25px;
    padding: 5px;
    margin-bottom:12px;
}
.container {
    display: flex;
    flex-wrap: nowrap; /* Ensures items don't wrap to the next line */
  }
#box1
{
    position:relative;
    top:15%;
    left:28%;
}
#box2
{
    position:relative;
    bottom:10%;
    left:28%;
}
.item {
    margin-right: 20px; 
    text-align: center;
}
.item:hover{
    animation-name: grow;
    animation-duration: 1s;
}
@keyframes grow
{
    50%{transform:scale(1.1,1.1)}    
}
.item h2 {
    margin-top: 5px; 
  }
  .navbar ul
{
    list-style-type: none;
    background: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover
{
    background: hsl(0, 0%, 9%);
}

.navbar li
{
    float: left;
}
